@use 'sass:color';
@use 'sass:list';
@use 'sass:math';

$paletas: (
  principal: (
    hsl(138deg, 100%, 6%),
    hsl(144deg, 100%, 12%),
    hsl(145deg, 100%, 18%),
    hsl(146deg, 100%, 24%),
    hsl(146deg, 100%, 30%),
    hsl(142deg, 61%, 45%),
    hsl(130deg, 56%, 64%),
    hsl(126deg, 57%, 81%),
    hsl(127deg, 52%, 94%),
    hsl(120deg, 100%, 98%),
  ),
  secundario: (
    hsl(0deg, 0%, 10%),
    hsl(0deg, 0%, 20%),
    hsl(0deg, 0%, 30%),
    hsl(0deg, 0%, 40%),
    hsl(0deg, 0%, 50%),
    hsl(0deg, 0%, 65%),
    hsl(0deg, 0%, 80%),
    hsl(0deg, 0%, 90%),
    hsl(0deg, 0%, 96%),
    hsl(0deg, 0%, 100%),
  ),
  rojo: (
    hsl(10deg, 92%, 5%),
    hsl(7deg, 88%, 16%),
    hsl(5deg, 85%, 28%),
    hsl(2deg, 81%, 39%),
    hsl(0deg, 80%, 50%),
    hsl(3deg, 81%, 61%),
    hsl(5deg, 84%, 73%),
    hsl(8deg, 88%, 84%),
    hsl(10deg, 92%, 95%),
    hsl(10deg, 100%, 98%),
  ),
  azul: (
    hsl(219deg, 100%, 10%),
    hsl(212deg, 100%, 17%),
    hsl(210deg, 100%, 25%),
    hsl(209deg, 100%, 33%),
    hsl(208deg, 100%, 43%),
    hsl(211deg, 100%, 62%),
    hsl(211deg, 100%, 75%),
    hsl(211deg, 100%, 86%),
    hsl(210deg, 100%, 94%),
    hsl(213deg, 100%, 98%),
  ),
  verde: (
    hsl(146deg, 76%, 10%),
    hsl(144deg, 61%, 20%),
    hsl(128deg, 45%, 34%),
    hsl(117deg, 38%, 47%),
    hsl(112deg, 51%, 58%),
    hsl(107deg, 67%, 69%),
    hsl(103deg, 75%, 78%),
    hsl(102deg, 79%, 87%),
    hsl(103deg, 75%, 94%),
    hsl(103deg, 100%, 97%),
  ),
  amarillo: (
    hsl(45deg, 100%, 12%),
    hsl(46deg, 100%, 21%),
    hsl(48deg, 100%, 29%),
    hsl(49deg, 100%, 38%),
    hsl(49deg, 100%, 47%),
    hsl(48deg, 100%, 62%),
    hsl(49deg, 100%, 76%),
    hsl(50deg, 100%, 85%),
    hsl(50deg, 100%, 92%),
    hsl(52deg, 100%, 97%),
  ),
  naranja: (
    hsl(21deg, 100%, 12%),
    hsl(21deg, 100%, 21%),
    hsl(22deg, 100%, 29%),
    hsl(24deg, 100%, 39%),
    hsl(27deg, 100%, 47%),
    hsl(27deg, 100%, 61%),
    hsl(29deg, 100%, 72%),
    hsl(29deg, 100%, 83%),
    hsl(29deg, 100%, 90%),
    hsl(27deg, 100%, 96%),
  ),
  morado: (
    hsl(274deg, 100%, 10%),
    hsl(277deg, 100%, 19%),
    hsl(278deg, 100%, 27%),
    hsl(276deg, 80%, 40%),
    hsl(276deg, 68%, 53%),
    hsl(275deg, 82%, 68%),
    hsl(274deg, 90%, 79%),
    hsl(272deg, 100%, 89%),
    hsl(268deg, 100%, 95%),
    hsl(270deg, 100%, 98%),
  ),
  morado2: (
      hsl(255deg, 92%, 5%),
      hsl(259deg, 75%, 16%),
      hsl(260deg, 61%, 28%),
      hsl(263deg, 53%, 39%),
      hsl(265deg, 50%, 50%),
      hsl(268deg, 53%, 61%),
      hsl(270deg, 61%, 73%),
      hsl(272deg, 75%, 84%),
      hsl(275deg, 92%, 95%)
    ),

  rosa: (
    hsl(331deg, 100%, 12%),
    hsl(329deg, 100%, 21%),
    hsl(327deg, 91%, 32%),
    hsl(328deg, 77%, 44%),
    hsl(332deg, 85%, 60%),
    hsl(332deg, 93%, 72%),
    hsl(333deg, 95%, 83%),
    hsl(333deg, 96%, 90%),
    hsl(337deg, 100%, 95%),
    hsl(336deg, 100%, 98%),
  ),
  gris: (
    hsl(210deg, 33%, 9%),
    hsl(207deg, 24%, 16%),
    hsl(208deg, 18%, 25%),
    hsl(206deg, 14%, 35%),
    hsl(206deg, 13%, 46%),
    hsl(206deg, 14%, 57%),
    hsl(205deg, 15%, 69%),
    hsl(203deg, 18%, 81%),
    hsl(198deg, 24%, 92%),
    hsl(0deg, 0%, 100%),
  ),
);

:root {
  @each $familia, $paleta in $paletas {
    @for $indice from 1 through list.length($paleta) {
      $color: list.nth($paleta, $indice);
      $tono: math.div(color.channel($color, $space: hsl, $channel: 'hue'), 1deg);
      $saturacion: math.div(color.channel($color, $space: hsl, $channel: 'saturation'), 1%);
      $luminosidad: math.div(color.channel($color, $space: hsl, $channel: 'lightness'), 1%);
      --mlt-sys-color-#{$familia}-#{"#{$luminosidad}%"}: hsl(#{$tono}°, #{$saturacion}%, #{$luminosidad}%);
    }
  }
}
