@use 'sass:list';

$paletas: (
  principal: (
    #00210A,
    #003D18,
    #005A26,
    #007A34,
    #009942,
    #2DBB60,
    #6FD680,
    #B2EAB8,
    #E6F7E8,
    #F5FFF5,
  ),
  secundario: (
    #1A1A1A,
    #333333,
    #4D4D4D,
    #666666,
    #808080,
    #A6A6A6,
    #CCCCCC,
    #E6E6E6,
    #F5F5F5,
    #FFFFFF,
  ),
  rojo: (
    #190501,
    #4D0D05,
    #83150B,
    #B41813,
    #E61919,
    #EC534B,
    #F48A80,
    #FABCB2,
    #FEEAE6,
    #FFF5F3,
  ),
  azul: (
    #001233,
    #002855,
    #003E7E,
    #0057A8,
    #0074D9,
    #3D9BFF,
    #82BFFF,
    #B9DBFF,
    #E1F0FF,
    #F4F9FF,
  ),
  verde: (
    #062B16,
    #14532D,
    #2F7D3A,
    #4EA64A,
    #6CCB5D,
    #91E57A,
    #B6F19E,
    #D4F8C4,
    #EAFBE3,
    #F5FFF1,
  ),
  amarillo: (
    #3D2E00,
    #6B5200,
    #967700,
    #C29E00,
    #F2C500,
    #FFDA3E,
    #FFE887,
    #FFF2B3,
    #FFF8D6,
    #FFFDF0,
  ),
  naranja: (
    #3B1500,
    #6B2500,
    #963800,
    #C74E00,
    #F26B00,
    #FF9138,
    #FFB46E,
    #FFD1A6,
    #FFE5CC,
    #FFF4EB,
  ),
  morado: (
    #1D0033,
    #3B0060,
    #59008C,
    #7615B8,
    #9634D9,
    #B96AF0,
    #D19BFA,
    #E4C5FF,
    #F1E5FF,
    #FAF5FF,
  ),
  rosa: (
    #3B001D,
    #6B0038,
    #9A0757,
    #C51A75,
    #F04493,
    #FA76B3,
    #FDACD0,
    #FECFE4,
    #FFE8F1,
    #FFF5F9,
  ),
  gris: (
    #101820,
    #1F2A33,
    #35424D,
    #4D5B66,
    #667784,
    #8394A1,
    #A5B3BD,
    #C5D0D7,
    #E5ECEF,
    #FFFFFF,
  ),
);

:root {
  @each $familia, $paleta in $paletas {
    @for $numero from 1 through list.length($paleta) {
      --mlt-sys-color-#{$familia}-#{$numero}: #{list.nth($paleta, $numero)};
    }
  }
}
